.nav_container {
    box-shadow: 1px 6px 10px rgba(3, 4, 101, 0.645);
    padding-left: 15px;
    display: flex;
height: 80px;
    /* position: relative; Ensure positioning context */
 
}

body {
    margin: auto;
}

.logo {
    display: inline-block;
    background-color: navy;
    padding: 20px;
    color: #fff;
}
.login{
    /* position: absolute; */

    align-content: center;
    color: chocolate;
    margin-left: 100%;
    justify-content: center;
}
.logintext{
    display: inline-block;
    border: 1px solid rgba(164, 155, 155, 0.343);
    padding: 5px;
    border-radius: 8px;

    /* top: 10px; /* Adjust top positioning as needed */
    /* left: 10px; */ */
}
.logintext:hover{
    box-shadow: 1px 2px 10px #000 ;
    background: #1076c4;
    color: white;
    transition: background-color 0.3s ease , background-color 0.3s ease;

}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop_card {
    border: 1px solid rgb(252, 251, 251);
    border-radius: 15px;
    margin: 2px;
    margin-top: 20px;
    width: 220px;
    height: 250px;
    box-shadow: 1px 2px 20px rgba(49, 30, 33, 0.874);
}

.shop_img {
    border: 1px solid rgb(255, 252, 252);
    width: 208px;
    height: 150px;
    border-radius: 5px;
    padding-bottom: 1px;
    background-color: rgb(194, 188, 188);
    /* position: relative; */
    margin: 5px;

}

.shop_name {
    /* position: absolute; */
    margin: 10px;


}

.shop_type {

    margin: 10px;
    color: rgb(110, 107, 107);

}

.shop_location {
    /* position: absolute; */

    margin: 10px;
    color: rgb(110, 107, 107);


}

#shop_details {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}